/* PhD Hub User Pages CSS Code */

#login-register-page .container {
    margin:  0 auto;
    max-width:  1180px;
}
#login-register-page .entry-title {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding: 21.5px 10px;
}
#login-register-page .is-logged-in {
    margin: 100px 0;
}
#login-register-page .is-logged-in .uk-grid {
    margin: 0;
}
#login-register-page .is-logged-in .uk-grid .uk-width-7-10 {
    padding: 0 35px 0 0;
}
#login-register-page .is-logged-in h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 5px;
}
#login-register-page .is-logged-in p {
    font-size: 15px;
    margin: 0 0 10px;
}
#login-register-page .is-logged-in .logout {
    margin: 50px 0 0;
}
#login-register-page .is-logged-in .logout a {
    background: #318fe8;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .4s ease;
}
#login-register-page .is-logged-in .logout a:hover {
    background: #484848;
    transition: all .4s ease;
}
#login-register-page .is-logged-in .account-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
#login-register-page .is-logged-in .account-links li {
    background: #fcfcfc;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    font-size: 15.5px;
    margin: 0 0 10px;
    padding: 8px 15px;
}
#login-register-page .is-logged-in .account-links li i {
    width: 30px;
}
#login-register-page .is-logged-in .account-links li a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
#login-register-page .is-logged-in .account-links li a:hover {
    color: #323232;
    transition: all .4s ease;
}
#login-register-page .is-logged-out {
    margin:  100px 0;
}
#login-register-page .is-logged-out > * {
    padding: 0 50px 0 0;
}
#login-register-page .is-logged-out > *:last-child {
    padding: 0 0 0 50px;
}
#login-register-page .is-logged-out form {
    background: #f9f9f9;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    padding: 20px;
}
#login-register-page .is-logged-out label {
    color: #888;
    display: block;
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
}
#login-register-page .is-logged-out input[type="text"],
#login-register-page .is-logged-out input[type="password"] {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    outline: none;
    padding: 8px 10px;
    transition: all .4s ease;
    width: 100%;
}
#login-register-page .is-logged-out input[type="text"]:focus,
#login-register-page .is-logged-out input[type="password"]:focus {
    border: 1px solid #318fe8;
    transition: all .4s ease;
}
#login-register-page .is-logged-out input[type="submit"] {
    background: #318fe8;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 3px #ddd;
    color: #fff;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    margin: 10px 0 -20px;
    outline: none;
    padding: 10px 20px;
    transition: all .4s ease;
}
#login-register-page .is-logged-out input[type="submit"]:hover {
    background: #484848;
    cursor: pointer;
    transition: all .4s ease;
}

#login-register-page .register-box p {
    font-size: 15px;
}
#login-register-page .register-box p:first-child {
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
#login-register-page .register-box p span {
    display: block;
}
#login-register-page .register-box p a {
    background: #318fe8;
    border-radius: 2px;
    box-shadow: 0 2px 3px #ddd;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 30px 0 0;
    padding: 8px 15px;
    text-decoration: none;
    transition: all .4s ease;
}
#login-register-page .register-box p a:hover {
    background: #484848;
    transition: all .4s ease;
}



#profile-page .container {
    margin:  0 auto;
    max-width: 1180px;
}
#profile-page .entry-title {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding: 21.5px 10px;
}
#profile-page .is-logged-in {
    margin: 100px 0;
}
#profile-page .is-logged-in .uk-grid {
    margin: 0;
}
#profile-page .uk-width-3-10 {
    padding: 0 35px 0 0;
}
#profile-page .uk-width-6-10 {
    padding: 0;
}
#profile-page .is-logged-in .logout {
    float: right;
    margin: 0;
}
#profile-page .is-logged-in .logout a {
    background: #318fe8;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .4s ease;
}
#profile-page .is-logged-in .logout a:hover {
    background: #484848;
    transition: all .4s ease;
}
.user-details-block {
    background:  #fff;
    box-shadow: 0 2px 3px #eee;
    margin: 0;
    padding: 20px 20px 18px;
}
.user-details-block img {
    border-radius: 50px;
    display: inline-block;
    height: 60px;
    margin: 0 15px 0 0;
    vertical-align: top;
    width: 60px;
}
.user-details-block .user-info-edit {
    display: inline-block;
}
.user-details-block .user-info-edit p {
    margin: 0 !important;
}
.user-details-block .user-info-edit p:first-child {
    margin: 8px 0 0 !important;
}
.user-details-block .user-info-edit a {
    color: #318fe8;
    font-size: 13px;
    margin: 5px 0 0;
    text-decoration: none;
    transition: all .4s ease;
}
.user-details-block .user-info-edit a:hover {
    color: #323232;
    transition: all .4s ease;
}
.user-details-block .uk-grid {
    border-top: 1px solid #f0f0f0;
    margin: 20px 0 0 !important;
    padding: 10px 0 0;
}
.user-details-block .uk-grid > * {
    padding: 0 35px 0 0;
}
.user-details-block p label {
    color: #888;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}
.user-details-block p span {
    font-size: 13.5px;
}
.user-details-block .profile-area-sep {
    border-top: 1px solid #f0f0f0;
    margin: 15px 0 0;
}
.user-details-block a {
    color: #318fe8;
    font-size: 14px;
    margin: 0 10px 0 0;
}
.user-qualifications-block,
.user-fields-of-interest-block {
    background:  #fff;
    box-shadow:  0 2px 3px #eee;
    padding: 10px 20px;
}
.user-qualifications-block h3,
.user-fields-of-interest-block h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
.user-qualifications-block p,
.user-qualifications-block a,
.user-fields-of-interest-block p,
.user-fields-of-interest-block a {
    color: #727272;
    font-size: 14px;
    text-decoration: none;
    transition: all .4s ease;
}
.user-qualifications-block a:hover,
.user-fields-of-interest-block a:hover {
    color: #318fe8;
    transition: all .4s ease;
}

.favorites-block {
    background: #fff;
    box-shadow: 0 2px 3px #eee;
    padding: 10px 20px;
}
.favorites-block h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 10px;
}
.favorites-block a {
    color: #318fe8 !important;
    font-size: 14px;
    text-decoration: none;
    transition: all .4s ease;
}
.favorites-block a:hover {
    color: #323232 !important;
    text-decoration: none;
}
.favorites-block .favorites-list p {
    margin: 0 0 15px
}
.favorites-block .simplefavorites-clear {
    float:  right;
    background: #fff;
    box-shadow:  none;
    border:  0;
    line-height: inherit;
    border-radius: 20px;
    color: #323232;
    font-size:  13px;
    padding: 7px 15px;
	transition: all .4s ease;
}
.favorites-block .simplefavorites-clear:hover {
	color: #318fe8;
	cursor: pointer;
	transition: all .4s ease;
}
.favorites-block .simplefavorites-clear:disabled,
.favorites-block .simplefavorites-clear:disabled:hover {
	cursor: inherit;
    float:  right;
    background: #fff;
    box-shadow:  none;
    border:  0;
    line-height: inherit;
    border-radius: 20px;
    color: #ccc;
    font-size:  13px;
    padding: 7px 15px;
}
#profile-page .favorites-search-history {
    margin: 50px 0 !important;
}
#profile-page .favorites-search-history > * {
    padding: 0;
}
#profile-page .favorites-search-history > *:last-child {
    padding: 0 0 0 30px;
}




#registration-page .container {
    margin:  0 auto;
    max-width: 1180px;
}
#registration-page .entry-title {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding: 21.5px 10px;
}
#registration-page .profile-img-link {
	background: #318fe8;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 8px 15px;
	text-decoration: none;
}
#registration-page .registration-form {
    background: #fff;
    box-shadow: 0 2px 3px #eee;
    margin:  100px 0;
    padding: 15px 30px 30px;
}
#registration-page .registration-form .required-notice {
    border-bottom: 1px solid #f0f0f0;
    color: #888;
    font-size: 13px;
    font-weight: 400;
    padding: 0 0 15px;
} 
#registration-page .registration-form p {
    margin: 0 0 25px;
}
#registration-page .registration-form label {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 8px;
    text-transform: uppercase;
}
#registration-page .registration-form input,
#registration-page .registration-form textarea {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    box-shadow: none;
    font-size: 15px;
    height: auto;
    line-height: inherit;
    outline: none;
    padding: 8px 10px;
    transition: all .4s ease;
    width: 100%;
}
#registration-page .registration-form input:focus,
#registration-page .registration-form textarea:focus {
    border: 1px solid #318fe8;
    transition: all .4s ease;
}
#registration-page .registration-form h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 20px;
}
#registration-page .registration-form input[type="submit"] {
    background: #318fe8;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    padding: 8px 20px;
    width: auto;
    transition: all .4s ease;
}
#registration-page .registration-form input[type="submit"]:hover {
    background: #484848;
    cursor: pointer;
    transition: all .4s ease;
}
#registration-page .registration-form input[type="submit"]:disabled {
    background: #f7f7f7;
    border:  0;
    border-radius:  2px;
    box-shadow: none;
    color: #323232;
    padding: 8px 20px;
    width:  auto;
}
#registration-page .registration-form input[type="submit"]:disabled:hover {
    cursor: inherit;
}
#registration-page .registration-form .field-info {
    font-size: 12px;
    font-style: italic;
}
#registration-page .registration-form input[type="checkbox"] {
    width:  auto;
    margin: 0 10px 0 0;
}
#registration-page .registration-form .checkbox-row {
    font-size: 15px;
    display:  block;
    margin: 0 0 10px;
}
#registration-page .registration-form .fields-of-science-list {
    border: 1px solid #e8e8e8;
    margin: 10px 0 40px;
    height: 400px;
    overflow-y: scroll;
}
#registration-page .registration-form .fields-of-science-list > * {
    padding: 0;
}
#registration-page .registration-form .fields-of-science-list .uk-width-1-2:first-child {
    border-right: 1px solid #f0f0f0;
}
#registration-page .registration-form .fields-of-science-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#registration-page .registration-form .fields-of-science-list ul li {
    padding: 20px;
}
#registration-page .registration-form .fields-of-science-list .children-fos {
    margin: 0 0 0 25px !important;
}
#registration-page .registration-form .fields-of-science-list .children-fos li {
    padding: 0 !important;
}
#registration-page .registration-form .fields-of-science-list .uk-width-1-2:first-child ul li {
	background: #fff;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    padding: 10px 20px;
	transition: all .4s ease;
}
#registration-page .registration-form .fields-of-science-list .uk-width-1-2:first-child ul li.uk-active {
	background: #fbfbfb;
	transition: all .4s ease;
}
#registration-page .registration-form .fields-of-science-list .uk-width-1-2:first-child ul li a {
    color: #323232;
    display: block;
    text-decoration: none;
    transition: all .4s ease;
}
#registration-page .registration-form .fields-of-science-list .uk-width-1-2:first-child ul li a:hover,
#registration-page .registration-form .fields-of-science-list .uk-width-1-2:first-child ul li.uk-active a {
    color: #318fe8;
    transition: all .4s ease;
}
#registration-page .login-box-link {
    background: #556984;
    border-radius: 2px;
    margin:  100px 0 0 20px;
    padding: 20px;
}
#registration-page .login-box-link p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
#registration-page .login-box-link p span {
    display: block;
}
#registration-page .login-box-link a {
    background: #fff;
    border-radius: 2px;
    color: #323232;
    display: inline-block;
    font-size: 13px;
    margin: 20px 0 0;
    padding: 5px 15px;
    text-decoration: none;
    transition: all .4s ease;
}
#registration-page .login-box-link a:hover {
    color: #318fe8;
    transition: all .4s ease;
}

#registration-page .is-logged-in {
    margin: 100px 0;
}
#registration-page .is-logged-in h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 5px;
}
#registration-page .is-logged-in p {
    font-size: 15px;
    margin: 0 0 10px;
}
#registration-page .is-logged-in .logout {
    margin: 50px 0 0;
}
#registration-page .is-logged-in .logout a {
    background: #318fe8;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .4s ease;
}
#registration-page .is-logged-in .logout a:hover {
    background: #484848;
    transition: all .4s ease;
}
#registration-page .is-logged-in .account-links {
    list-style: none;
    margin: 0;
    padding: 0;
}
#registration-page .is-logged-in .account-links li {
    background: #fcfcfc;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    font-size: 15.5px;
    margin: 0 0 10px;
    padding: 8px 15px;
}
#registration-page .is-logged-in .account-links li i {
    width: 30px;
}
#registration-page .is-logged-in .account-links li a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
#registration-page .is-logged-in .account-links li a:hover {
    color: #323232;
    transition: all .4s ease;
}
#profile-img h3 {
    border-bottom: 1px solid #f0f0f0;
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 300;
    padding: 0 0 10px;
}
#profile-img h3 .uk-close {
    float: right;
    margin: 5px 0 0;
}
#profile-img form h3 {
    border: 0;
    margin: 0;
}
#profile-img form button {
    background: #555;
    border: 0;
    color: #fff;
    font-size: 14px;
    height: auto;
    line-height: normal;
    padding: 8px 15px;
    transition: all .4s ease;
}
#profile-img form button:hover {
    background: #318fe8;
    cursor: pointer;
    transition: all .4s ease;
}
#profile-img form .submit {
    border-top: 1px solid #f0f0f0;
    margin: 0;
    padding: 15px 0 0;
}
#profile-img form #submit {
    background: #318fe8;
    color: #fff;
    border: 0;
    padding: 10px 18px;
    font-size: 15px;
    line-height: normal;
    transition: all .4s ease;
}
#profile-img form #submit:hover {
    background: #555;
    cursor: pointer;
    transition: all .4s ease;
}
#profile-img form .description {
    font-size: 14px;
}

#personal-data h3 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0 0 15px;
}
#personal-data h3 .uk-close {
    float: right;
    margin: 5px 0 0;
}
#personal-data input[type="text"],
#personal-data input[type="email"] {
    display: block;
    width: 100%;
    border: 1px solid #f0f0f0;
    outline: none;
    margin: 5px 0 0;
    padding: 5px 10px;
}
#personal-data label {
    font-size: 15px;
}
#personal-data #gdrf-radio-label {
    font-weight: 400;
}
#personal-data .gdrf-field-submit {
    margin: 0;
}
#personal-data .gdrf-field-submit input {
    background: #318fe8;
    border: 0;
    color: #fff;
    font-size: 15px;
    line-height: normal;
    height: auto;
    padding: 10px 18px;
    transition: all .4s ease;
}
#personal-data .gdrf-field-submit input:hover {
    background: #555;
    cursor: pointer;
    transition: all .4s ease;
}
#registration-page .research-areas-list {
    height: 300px;
    border: 1px solid #f0f0f0;
    margin: 10px 0 30px;
    padding: 20px;
    overflow-y: scroll;
}
#registration-page .research-areas-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#registration-page .research-areas-list ul .checkbox-row {
	font-size: 14px;
}